.texto {
    transition: .5s !important;
}

.texto:hover{
    color:rgb(255, 255, 255) !important;
    
}


.texto-oculto{
    transition: .5s !important;
}

.texto-oculto:hover {
    color:red!important;
}




.link-categories {
    color: rgb(116, 116, 116);
    font-size: 15px;
    transition: .5s;

}

.link-categories:hover {
    color: rgb(255, 255, 255); 
   
}
.btn-crear{
    display: flex;
    background-color:black ;
    border-color: black;
    justify-content: center;
    align-items: center;
}
.btn-Modal {
    display: flex;
    justify-content: flex-end;
    background-color: black !important;
}

