.Carrito{
    display: flex;
    width: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}

.SpanCarrito{
    font-weight: bold;
    font-size: 1.3rem;
}
